<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Expenses</title>
</head>
<body>

<nav th:replace="fragments/InventoryHeader" :: headerAuthenticated></nav>


<div class="expenses">


    <form class="addForm" th:method="POST" th:action="@{~/record/{id}(id=${#authentication.principal.Id})}" th:object="${record}">

        <h1>Add a product</h1>

        <span>Month</span>
        <input type="hidden" id="month" th:field="*{month}" placeholder="Month">


        <input type="hidden" id="revenue" th:field="*{revenue}"placeholder="Revenue">

        <input type="hidden" id="cogs" th:field="*{cogs}" placeholder="CoGS">

        <span>Expenses:</span>
        <input type="number" id="expenses" th:field="*{expenses}" placeholder="Expenses">

        <input type="hidden" id="netProfit" th:field="*{netProfit}" placeholder="Net Profit">

        <button type="submit">Add Expense</button>

    </form>

</div>

</body>
</html>