<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Submit a Product</title>
</head>
<body>

<header th:replace="fragments/InventoryHeader :: headerAuthenticated"></header>


<div class="addInventory">

    <form class="addForm" th:method="POST" th:action="@{~/inventory/{id}/(id=${#authentication.principal.Id})}" th:object="${product}">

        <h1>Add a product</h1>

        <span>Name of Product</span>
        <input type="text" id="productName" th:field="*{productName}" placeholder="Product Name">

        <span>Quantity:</span>
        <input type="number" id="quantity" th:field="*{quantity}"placeholder="Quantity">

        <span>Total Inventory:</span>
        <input type="number" id="totalInventory" th:field="*{totalInventory}"placeholder="Total Inventory">

        <span>Price:</span>
        <input type="number" id="price" th:field="*{price}" placeholder="Price">

        <span>Resell Price:</span>
        <input type="number" id="resellPrice" th:field="*{resellPrice}" placeholder="Resell Price">

        <button type="submit">Add Product</button>

    </form>

</div>

</body>
</html>
