<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Submit a Product</title>
</head>
<body>

<header th:replace="fragments/InventoryHeader :: headerAuthenticated"></header>

<div class="addInventory">

    <div class="addForm">
        <form  th:method="PUT" th:action="@{~/inventory/{id}/(id=${#authentication.principal.Id})}" th:object="${product}">
            <input type="hidden" name="id" th:field="${product.productId}">

            <h1>Update a product</h1>

            <span>Name of Product</span>
            <input type="text" id="productName" th:field="${product.productName}" placeholder="">

            <span>Month:</span>
            <input type="text" id="month" th:field="${product.month}"placeholder="" readonly>

            <span>Quantity:</span>
            <input type="number" id="quantity" th:field="${product.quantity}"placeholder="">

            <span>Total Inventory:</span>
            <input type="number" id="totalInventory" th:field="${product.totalInventory}"placeholder="" readonly>

            <span>Price:</span>
            <input type="number" id="price" th:field="${product.price}" placeholder="">

            <span>Resell Price:</span>
            <input type="number" id="resellPrice" th:field="${product.resellPrice}" placeholder="">

            <button type="submit">Update Product</button>

        </form>

        <form class="del" th:method="delete" th:action="@{~/inventory/{id}/(id=${#authentication.principal.Id})}">
            <input type="hidden" name="id"  th:field="*{product.productId}">
            <button type="submit" class="delete">Delete</button>
        </form>

    </div>


</div>

</body>
</html>
