<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.4/datatables.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Inventory</title>

</head>
<body>

<header th:replace="fragments/InventoryHeader" :: headerAuthenticated></header>

<div class="inventory">
    <table id="DataTable">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Month</th>
            <th>Qty.</th>
            <th>Total Inventory</th>
            <th>Price</th>
            <th>Resell Price</th>
            <th>Expenses</th>
            <th>Income</th>
            <th>Item Sold</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${user.productList}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.month}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.totalInventory}"></td>
            <td th:text="|₱ ${product.price}|"></td>
            <td th:text="|₱ ${product.resellPrice}|"></td>
            <td th:text="|₱ ${product.expenses}|"></td>
            <td th:text="|₱ ${product.income}|"></td>
            <td th:text="${product.itemSold}"></td>


            <td ><a class="add" th:href="@{~/inventory/{id}/view(id=${product.productId})}">View</a>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{~/inventory/add}">Add product</a>
</div>
<script>$(document).ready(function() {
        $('#DataTable').DataTable();
    } );</script>

</body>
</html>