<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Records</title>
</head>
<body>

<header th:replace="fragments/InventoryHeader :: headerAuthenticated"></header>

<h1 class="title">Monthly Records</h1>

<div class="records">

    <div class="record">
        <tr th:each="record : ${user.recordList}">
            <h2 th:text="${record.month}"/>
            <ul>
                <li>Revenue: <p th:text="${record.revenue}"/></li>
                <li>Cost of Goods Sold: <p th:text="${record.cogs}"/></li>
                <li>Expenses: <p th:text="${record.expenses}"/></li>
                <li>Net Profit: <p th:text="${record.netProfit}"/></li>

                <a class="add" th:href="@{~/record/{id}/compute(id=${record.recordId})}">View</a>
            </ul>
        </tr>
    </div>


</div>
</body>
</html>