<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>View Info</title>
</head>
<body>

<nav th:replace="fragments/AdminHeader" :: headerAuthenticated></nav>

<div class="view-business">
    <tr th:each="business : ${user.businessList}">

        <h1>Business Information</h1>
        <span>Business Name</span>
        <p th:text="${business.businessName}"/>

        <span>Location</span>
        <p th:text="${business.location}"/>

        <span>Proof of Business</span>
        <p th:text="${business.proofofBusiness}"/>
    </tr>


        <div class="user-info">
            <form th:method="PUT" th:action="@{~/admin}" th:object="${user}" class="user-form">
                <h1>User Information</h1>

                <input type="hidden" name="id" th:field="*{id}">
                <span>First Name</span>
                <input type="text" id="firstName" th:field="*{firstName}" placeholder="">

                <span>Middle Name</span>
                <input type="text" id="middleName" th:field="*{middleName}" placeholder="">

                <span>Last Name</span>
                <input type="text" id="lastName" th:field="*{lastName}" placeholder="">

                <span>Email</span>
                <input type="email" id="email" th:field="*{email}" placeholder="">

                <span>Phone Number</span>
                <input type="number" id="phoneNum" th:field="*{phoneNum}" placeholder="">
                <input type="hidden" id="password" th:field="*{password}" placeholder="">
                <input type="hidden" id="newPassword" th:field="*{newPassword}" placeholder="">
                <span>Business Approval</span>


                <input type="checkbox" th:field="*{role}" th:value="3" th:text="Approved"/>

<!--                <select id="role" th:field="*{role}">-->
<!--                    <option th:value="2">Pending</option>-->
<!--                    <option th:value="3">Approved</option>-->
<!--                    <option th:value="4">Declined</option>-->
<!--                </select>-->
<!--                <input type="checkbox" th:field="*{role}" th:value="2" th:text="Pending">-->
<!--                <input type="checkbox" th:field="*{role}" th:value="3" th:text="Approved">-->
<!--                <input type="checkbox" th:field="*{role}" th:value="2" th:text="Declined">-->

                <button type="submit" class="update">Approve Business</button>

            </form>
            <form th:method="delete" th:action="@{~/admin}" class="btn-del">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit" class="update">Delete</button>
            </form>

        </div>


</div>
</body>
</html>


