<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>View Info</title>
</head>
<body>

<nav th:replace="fragments/AdminHeader" :: headerAuthenticated></nav>

<div class="view-business">
    <tr th:each="business : ${user.businessList}">

        <h1>Business Information</h1>
        <span>Business Name</span>
        <p th:text="${business.businessName}"/>

        <span>Location</span>
        <p th:text="${business.location}"/>

        <span>Proof of Business</span>
        <p th:text="${business.proofofBusiness}"/>


    </tr>


    <div class="user-info">
        <form th:method="GET" th:action="@{~/admin}" th:object="${user}" class="user-form">
            <h1>User Information</h1>

            <input type="hidden" name="id" th:field="*{id}">
            <span>First Name</span>
            <p th:text="${user.firstName}"/>
            <span>Middle Name</span>
            <p th:text="${user.middleName}"/>

            <span>Last Name</span>
            <p th:text="${user.lastName}"/>

            <span>Email</span>
            <p th:text="${user.email}"/>

            <span>Phone Number</span>
            <p th:text="${user.phoneNum}"/>



            </form>
            <form th:method="delete" th:action="@{~/admin}" class="btn-del">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit" class="update">Delete</button>
            </form>

        </div>


</div>
</body>
</html>


