<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <title></title>
</head>
<body>
<header th:fragment="headerUnauthenticated">
    <nav>
        <a href="#index.html">
            <h1>Merkante</h1>
        </a>

        <div class="details">
            <a href="#About" >About</a>
            &nbsp;
            <a href="Contact.html" >Contact Us</a>
            &nbsp;
        </div>

        <a href="Login.html" class="signin">Sign in</a>
    </nav>
</header>
<header th:fragment="headerAuthenticated">
    <div class="options">

        <div class="container">
            <h1 class="mt-5">Hello, <span th:text="${#authentication.principal.firstName}"/> <span th:text="${#authentication.principal.lastName}"/>!</h1>
        </div>

        <a th:href="@{~/business/{id}/(id=${#authentication.principal.Id})}" ><button class="apply"> Register your Business</button></a>

        <span>or</span>
        <a th:href="@{~/logout}"><button class="signout" >Sign-Out</button></a>
    </div>
</header>
</body>
</html>