<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <title></title>
</head>
<body>
<header th:fragment="headerAuthenticated">
    <nav>
        <a href="#index.html">
            <h1>Merkante</h1>
        </a>

        <div class="details">
            <a th:href="@{~/business/{id}/(id=${#authentication.principal.Id})}" >Register your Business</a>
            &nbsp;
            <a th:href="@{~/inventory/{id}(id=${#authentication.principal.Id})}" >View Products</a>
            &nbsp;
        </div>

        <a th:href="@{~/logout}" class="signin">Sign Out</a>
    </nav>
</header>
<header th:fragment="headerBusAuthenticated">
    <nav>
        <a href="#index.html">
            <h1>Merkante</h1>
        </a>

        <div class="details">
            &nbsp;
            <a th:href="@{~/inventory/{id}(id=${#authentication.principal.Id})}" >View Products</a>
            &nbsp;
        </div>

        <a th:href="@{~/logout}" class="signin">Sign Out</a>
    </nav>
</header>
<header th:fragment="headerNoBusAuthenticated">
    <nav>
        <a href="#index.html">
            <h1>Merkante</h1>
        </a>

        <div class="details">
            &nbsp;
            <a th:href="@{~/business/{id}/(id=${#authentication.principal.Id})}" >Register your Business</a>
            &nbsp;
        </div>

        <a th:href="@{~/logout}" class="signin">Sign Out</a>
    </nav>
</header>
<header th:fragment="headerNonAuthenticated">
    <nav>
        <a href="#index.html">
            <h1>Merkante</h1>
        </a>

        <div class="details">
            &nbsp;&nbsp;
        </div>

        <a th:href="@{~/logout}" class="signin">Sign Out</a>
    </nav>
</header>
<header th:fragment="headerUnauthenticated">
    <nav>
        <a href="#index.html">
            <h1>Merkante</h1>
        </a>

        <div class="details">
            <a href="#About" >About</a>
            &nbsp;
            <a href="Contact.html" >Contact Us</a>
            &nbsp;
        </div>

        <a th:href="@{~/login}" class="signin">Sign in</a>
    </nav>
</header>

</body>
</html>