<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Forgot Password</title>
</head>

<body>
    <div class="forms">

        <input type="checkbox" id="flip">

        <div class="slider">
            <h1>"The money you make is a symbol of the value you create."</h1>
        </div>

        <form action="#login" class="login">

            <h1>Forgot Password</h1>

            <span>Email:</span>
            <input type="email" placeholder="Email">

            <span>Password:</span>
            <input type="password" placeholder="Password">

            <span>Confirm Password:</span>
            <input type="password" placeholder="Password">

            <button type="submit">Reset Password</button>

            <label class="link" for="flip">Sign in?</label>

        </form>

        <form action="#login" class="login">

            <h1>Sign in to Merkante</h1>

            <span>Email:</span>
            <input type="email" placeholder="Email">

            <span>Password:</span>
            <input type="password" placeholder="Password">

            <button type="submit">Sign in</button>

            <label class="link" for="flip">Don't have an account?</label>

        </form>
    </div>

</body>

</html>